@import "tailwindcss";
@import "../../../packages/tailwind-config/theme.css";
@source "../../../packages/ui/src";
@source "../../mobile/app";

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
}
